#executable
# *.exe

#object files(промежуточные)
*.o
*.obj

#generate auxiliary files for GCC
a.out

#folder for Visual Studio Code
.vscode/

# Folders and files for other IDEs/Assemblies, if they are usedbuild/
bin/